{% from "_macros.html" import form_tag %}
{% from "_macros.html" import render_preview %}
{% from "_macros.html" import render_thumbnail %}
{% from "_macros.html" import render_user_heading %}

{% extends "layout.html" %}

{% block body %}
{{ render_user_heading(user.username, num_items, num_collections) }}

<div class="collection_container">
    <div class="right">
        {% if logged_in and not is_owner and not has_voted -%}
        <button type="submit" class="love_button" name="item" value="{{ item.safe_id }}"></button>
        {% else -%}
        <div class="love_glyph{% if item.votes|length > 0 %} love_glyph_active{% endif %}"></div>    
        {% endif -%}
        <div class="love_counter{% if item.votes|length == 0 %} hidden{% endif %}">{{ item.votes|length }}</div>
    </div>

    <div class="section_heading">{{ item.name }}</div>
    <div class="item_container">
        <div class="item_images">
            <div class="item_preview">
                {{ render_preview(photo_base_url, user.id, item.safe_id, item.photos[0]) }}
            </div>

            <div class="item_thumbnails">
                {% if item.photos and item.photos|length > 0 -%}
                {% for photo in item.photos -%}
                <div class="item_thumbnail_container">
                    {% if is_owner -%}
                    <div class="item_thumbnail_remove">&#10006;</div>
                    {%- endif %}
                    {{ render_thumbnail(photo_base_url, user.id, item.safe_id, photo, 'item_thumbnail') }}
                </div>
                {%- endfor %}
                {%- endif %}
                
                {% if is_owner -%}
                <div class="item_thumbnail_container">
                    <div class="item_thumbnail_placeholder">
                        <div class="item_thumbnail_placeholder_content">+</div>
                    </div>
                </div>
                {%- endif %}

                <div class="clear_left"></div>
            </div>

            {% if is_owner %}
            <div class="item_image_add">
                <form action="/add_item_image" method="POST" enctype="multipart/form-data">
                    <input type="hidden" id="item_safe_id" name="safe_id" value="{{ item.safe_id }}" />
                    
                    <div class="add_item_field_set">
                        <input type="file" name="new_image" />
                    </div>
                    
                    <div class="add_item_field_set">
                        <input type="submit" value="Add" class="add_item_button" />
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
        <div>
            <div class="item_property">
            {% if is_owner -%}
                <div class="edit_controls_container">
                    <span class="pilcrow">&para;</span>
                    <button id="update_item_description" type="button" class="accept_button" name="context" value="{{ item.safe_id }}">&#10003;</button>
                    <span class="cancel_edit">&#10006;</span>
                </div>
                <div class="edit_label">
                    <p class="item_description">{{ item.description }}</p>
                </div>
                <div class="edit_control">
                    <textarea name="parameter">{{ item.description }}</textarea>
                </div>
            {%- else %}
                <p class="item_description">{{ item.description }}</p>
            {% endif %}
            </div>

            <div class="item_property">
                {% if is_owner %}
                <div class="edit_controls_container">
                    <span class="pilcrow">&para;</span>
                    <button id="add_item_tag" type="button" class="accept_button" name="context" value="{{ item.safe_id }}">&#10003;</button>
                    <span class="cancel_edit">&#10006;</span>
                </div>
                {% endif %}
                <div class="item_property_heading">tags</div>
                {% if is_owner -%}
                    {% for t in item.tags -%}
                    <div class="item_property_list_value">
                        {{ link_to(t, 'frontend.search', t=t) }}
                        <button type="submit" class="remove_glyph" name="tag" value="{{ item.safe_id }}">&#10006;</button>
                    </div>    
                    {% endfor -%}
                    <div class="edit_control">
                        <input type="text" name="parameter" value="" />
                    </div>
                {%- else %}
                    {% for t in item.tags -%}
                    <div class="item_property_list_value">
                        {{ link_to(t, 'frontend.search', t=t) }}
                    </div>    
                    {% endfor %}
                {% endif -%}
                <div class="clear_left"></div>
            </div>

            {% if is_owner or item.year -%}
            <div class="item_property">
                {% if is_owner %}
                <div class="edit_controls_container">
                    <span class="pilcrow">&para;</span>
                    <button id="update_item_year" type="button" class="accept_button" name="context" value="{{ item.safe_id }}">&#10003;</button>
                    <span class="cancel_edit">&#10006;</span>
                </div>
                {% endif %}
                <div class="item_property_heading">year</div>
                {% if is_owner -%}
                <div class="edit_label">
                    <span>{{ item.year or "-" }}</span>
                </div>
                <div class="edit_control">
                    <input type="text" name="parameter" value="{{ item.year or "" }}" />
                </div>
                {% elif item.year -%}
                {{ item.year }}
                {%- endif %}
            </div>
            {%- endif %}
        </div>

        <div class="clear_both"></div>
    </div>
</div>

{% endblock %}
