{% from "_macros.html" import render_form_errors %}

{% extends "layout.html" %}

{% block body %}
    <div id="register_container">
        <div class="section_heading">register</div>
        {{ render_form_errors(form) }}
        {% call form_tag('register') %}
            {{ form.hidden_tag() }}
            <div class="login_field_set">
                <div class="login_field_label">username</div>
                {{ form.username }}
            </div>

            <div class="login_field_set">
                <div class="login_field_label">email</div>
                {{ form.email }}
            </div>

            <div class="login_field_set">
                <div class="login_field_label">password</div>
                {{ form.password }}
            </div>

            <div class="login_field_set">
                <div class="login_field_label">retype password</div>
                {{ form.password_confirm }}
            </div>

            <div class="login_field_set">
                <input type="submit" value="Register" class="register_button" />
            </div>
        {% endcall %}
    </div>
{% endblock %}
